<h1 id = "listing">Support Us</h1>
<div id = "boxes">
  <div id = "activities" class = "shining">
    <h2>About Us</h2>
    <div class = "shining-text" id = "event">Brew some coffee and drink it before you leave</div></div>
  <div id = "events" class = "shining">
    <h2>Script</h2>
    <div class = "shining-text" id = "activity">Show some Script</div></div>
  <div id = "plans" class = "shining">
    <h2>About Us</h2>
    <div class = "shining-text" id = "event">Brew some coffee and drink it before you leave</div></div>
</div>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<div id="cycle">
  <div id="new" class="o">Hider</div>
  <div id="old" class="o">to be hiddenadasd</div>
</div>

<div id="next">
  Next
</div>
<div id="b">
  <h3>kkk</h3>
  <div id="a" class="b">Hitler</div>
  <h3>kkk</h3>
<div id="b" class="b">to be hitler</div>
  <h3>kkk</h3>
  <div id="prev">Second Div End</div>
</div>

<div id= "c" class="c">
  This is Div C
</div>
<div id= "d">
  This is Div D
</div>
<div id = "cls">
</div>
<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to(image_tag("rails.png"), "../assets/emg.jpg", :id => "light", :title => "Motor Car Motor Car. When will you be mine?") %>
<br />
<div id = "info">Go home and sleep</div>
<div id = "menu">CLICK HERE</div>

<div id = "menu-body-wrapper">
  <div id = "nav-menus">
    <div id = "nav-about" class = "nav">
      <ul>
        <li id = "society" class = "nav-items"><span class= "menu-text">About Us</span><span class = "menu-image"></span></li>
        <li id = "hemo" class = "nav-items"><span class= "menu-text">About Us</span><span class = "menu-image"></span></li>
        <li class = "nav-items"><span class= "menu-text">About Us</span><span class = "menu-image"></span></li>
      </ul>
    </div>
  </div>
<div id = "main-display">
  <div id = "submenus">
    <div id = "submenu-about" class = "submenu">
      <span class = "submenu-items" id = "about-us">About  Us</span>
      <span class = "submenu-items" id = "about-hemo">About Them</span>
      <span class = "submenu-items" id ="goals">About You</span>
    </div>
    <div id = "submenu-activities" class = "submenu">
      <span class = "submenu-items">Major Activities</span>
      <span class = "submenu-items">Events</span>
    </div>
    <div id = "submenu-support" class = "submenu">
      <span class = "submenu-items">Donate Blood</span>
      <span class = "submenu-items">Donate Money</span>
    </div>
  </div>

  <div id = "content">
    <div id = "about-us-content" class = "contents">
      here is the content for about us
    </div>
    <div id = "about-hemo-content" class = "contents">
      here is the content for about them
    </div>
    <div id = "goals-content" class = "contents">
      here is the content for goals
    </div>
  </div>
</div>
</div>
<div id = "person_link">
  <%= radio_button 'New Person', 'abc', :"data-source" => new_person_path %>
</div>
<div id="stickynote">
  <h1>Support</h1>
</div>