<h1>Listing people</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<div id="cycle">
  <div id="new" class="o">Hider</div>
  <div id="old" class="o">to be hiddenadasd</div>
</div>

<div id="next">
  Next
</div>
<div id="b">
  <h3>kkk</h3>
  <div id="a" class="b">Hitler</div>
  <h3>kkk</h3>
<div id="b" class="b">to be hitler</div>
  <h3>kkk</h3>
  <div id="prev">Second Div End</div>
</div>

<div id= "c" class="c">
  This is Div C
</div>
<div id= "d">
  This is Div D
</div>


<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<div id = "menu">MENU</div>
<div>
<div id = "nav-about" class = "nav">
  <ul>
  <li id = "society" class = "nav-items">The</li>
  <li id = "hemo" class = "nav-items">Item</li>
  <li class = "nav-items">Is</li>
  </ul>
</div>
<div id = "submenus">
<div id = "submenu-about" class = "submenu">
  <span class = "submenu-items" id = "about-us">About Us</span>
  <span class = "submenu-items">About Them</span>
  <span class = "submenu-items">About You</span>
</div>
<div id = "submenu-activities" class = "submenu">
  <span class = "submenu-items">Major Activities</span>
  <span class = "submenu-items">Events</span>
</div>
<div id = "submenu-support" class = "submenu">
  <span class = "submenu-items">Donate Blood</span>
  <span class = "submenu-items">Donate Money</span>
</div>
<div id = "content">
  here is the content for the things
</div>
</div>
</div>
<div>
<%= link_to 'New Person', new_person_path %>
</div>