<!DOCTYPE html>
<html>
<head>
  <title>Rails31</title>
  <%= stylesheet_link_tag    "application" %>
  <!-- <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Cabin+Sketch" %> -->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cabin+Sketch:bold">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=La+Belle+Aurore">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Limelight">



  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
